/* GLOBAL SETTING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #424242;
}

li {
    list-style: none;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.68);
}

.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.overlay>div {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 40rem;
    width: 100%;
    height: 1;
    padding: 2rem;
}

.overlay>div>* {
    margin: 2rem;
}

.overlay h2 {
    color: #ec8816;
    text-align: center;
}


/* buttons */

button {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    background: #d3d3d3;
    width: 100%;
}

button.primary {
    background: #ec8816;
    transition: all .3s ease;
}

button.primary:hover {
    background: #f5a851;
}

.delete-button {
    background: #c20303;
    border: .15rem solid #c20303;
    transition: all .3s ease;
}

.delete-button:hover {
    background: #f84f4f;
    border: .15rem solid #f84f4f;
}

.go-back {
    background: #cecece;
    width: auto;
    padding: 1.5rem 3rem;
}

.fw {
    width: 100%;
}

.success {
    color: #0a9c0a;
}

.error {
    color: #ff0000;
}


/* BODY SECTION */

body {
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}


/*  HEADER SECTION */

header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background: #203040;
    color: #ffffff;
    align-items: center;
    padding: 1rem 33rem;
    height: 5rem;
}

header a {
    color: #ffffff;
    transition: all ease .3s;
    margin: 0 1rem;
}

header a:hover {
    color: #b64606;
}

#main-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 2%;
    display: flex;
    justify-self: center;
}


/* MAIN SECTION */

.brand a {
    font-size: 3rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 3rem;
    justify-content: center;
}

.products li {
    flex: 0 1 30rem;
    margin: 5px 5px 30px 5px;
    height: 50rem;
    border: .2rem solid #dadada;
    border-radius: 5px;
    overflow: hidden;
}

.product-showcase {
    transition: all ease .3s;
}

.product-showcase:hover {
    transform: scale(1.0);
    -webkit-box-shadow: 0px 0px 60px -14px rgba(112, 108, 112, 1);
    -moz-box-shadow: 0px 0px 60px -14px rgba(112, 108, 112, 1);
    box-shadow: 0px 0px 60px -14px rgba(112, 108, 112, 1);
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 100%; */
    background: #ffffff;
}

.product img {
    width: 100%;
    /* margin-top: 2rem; */
}

.product-main-details {
    padding: 10px;
}

.product-name {
    line-height: 2.3rem;
    /* padding: 0 1.5rem; */
}

.product-name a:hover {
    color: #ec5b07;
}

.product-name a {
    transition: all ease .3s;
    text-transform: uppercase;
}

.product-brand {
    font-size: 1.3rem;
    color: #808080;
    text-transform: uppercase;
}

.product-price {
    font-size: 2.3rem;
    margin-top: 1rem;
    color: #ffc000;
}

.ratings {
    color: #ffc000;
    font-size: 1.4rem;
}

.ratings span:last-child {
    color: #000000;
}


/* PRODUCT SCREEN */

.back-to-result {
    margin-top: 2rem;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.details-image {
    flex: 2 1 60rem;
    margin: 0 1.5rem 1.5rem 0;
    margin-top: 0;
}

.details-image img {
    /* max-width: 55rem; */
    max-width: 70rem;
    width: 100%;
}

.details-info,
.details-action {
    /* flex: 11 20rem; */
    flex: 3 26rem;
    padding: 1rem;
    padding-top: 0;
}

.details-info ul,
.details-action ul {
    padding: 0;
}

.details-info h1 {
    font-size: 2rem;
    margin: 0;
    color: #424242;
    text-transform: uppercase;
}

.details-info li,
.details-action li {
    margin-top: 1rem;
}

.details-action {
    border: .1rem solid #dadada;
    border-radius: 5px;
    background: #f8f8f8;
    padding: 1rem;
}


/* CART SCREEN */

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;
}

.cart-list {
    flex: 2 1 10rem;
    margin-right: 1rem;
}

.cart-action {
    flex: 0rem;
    border: .1rem solid #dadada;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
}

.cart-action h2 {
    margin-bottom: 2rem;
}

.cart-list-container {
    padding: 0 1rem;
}

.cart-list-container li {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border: .15rem solid #dadada;
    border-radius: 5px;
}

.cart-list-container img {
    max-width: 10rem;
    max-height: 10rem;
}

.cart-list-container li:first-child {
    align-items: flex-end;
}

.cart-image {
    flex: 1 1;
}

.cart-image img {
    width: 100%;
}

.cart-name {
    flex: 2;
}

.cart-name>div {
    padding: .5rem;
}

.cart-item {
    line-height: 1.5;
    /* text-transform: uppercase; */
}

.cart-list h3 {
    margin: 0;
    text-transform: uppercase;
}

.cart-list h2 {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

.cart-list button,
.cart-list select {
    font-size: 1.3rem;
    padding: 1.02rem 2.3rem;
    width: 12rem;
}


/* Signin form */

.form-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    margin: auto;
}

.form-items {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 2rem;
    border: .2rem solid #c5c5c5;
    border-radius: 5px;
    margin: auto;
}

.form-items li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-items h1 {
    align-self: center;
}

.form-items label {
    margin-bottom: .5rem;
}

.form-items input {
    padding: 1rem;
    outline: none;
    border: .2rem solid #c5c5c5;
    font-size: 1.8rem;
    color: #858484;
    font-style: italic;
}

.form-items a {
    color: #f84f4f;
}


/* CHECKOUT SCREEN / checkout steps */

.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin: 3rem auto;
    margin-bottom: 12rem;
}

.checkout-steps>div {
    border-top: .3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
}

.checkout-steps>div.active {
    color: #ec5b07;
    border-top-color: #ec5b07;
}


/* PLACE ORDER SCREEN */

.order {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
}

.order h2 {
    margin: 0;
}

.order-info {
    flex: 3 1 50rem;
}

.order-info>div {
    margin: 1rem;
}

.order-action {
    flex: 1 1 20rem;
    padding: 1rem;
}


/* .order-action>ul {
    padding: 0;
} */

.order-action li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.order-action .total {
    font-size: 2rem;
    color: #ff0000;
    margin-top: 8rem;
    text-transform: uppercase;
}

.order-summary {
    border: .2rem solid #dadada;
    border-radius: 5px;
    padding: 1rem;
}

.order-header,
.cart-products {
    border: .2rem solid #dadada;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: .5rem;
}

.order-data {
    display: flex;
    justify-content: center;
    margin: 8rem 0 2rem;
}


/* FOOTER SECTION */

footer {
    background: #203040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}